<section class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-head">
        <div class="card-header">
          <div class="h4 card-title">
            Description de l'application
          </div>
          <div class="card-body">
            L'application est un test technique réalisé par Ismaël Couvreur pour la société Maltem basée à Luxembourg.
            <br>
            Elle a pour but de tester les connaissances du candidat tant au niveau front-end en Angular qu'au niveau back-end en Java.
            <br>
            Sous l'onglet "movies", vous pourrez retrouver une liste de films.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
